doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/style/login_style.css")
        title 2048 Clone | Forgot password
    body
        #container
            a(href="/login") 
                h1 2048 Clone
            form(action="/forgot_password_reset" method="POST") 
                h3 Create a new password
                label#new_password_label(for="new_password") New password
                input#new_password(type="password" name="new_password")
                label#new_password2_label(for="new_password2") Confirm new password
                input#new_password2(type="password" name="new_password2")
                input(type="hidden" id="token" name="token" value=token readonly)
                button(type="submit") Save new password
                p#message #{message}
                p#message=messages.message