doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/style/login_style.css")
        title 2048 Clone | Forgot password
    body
        #container
            a(href="/login")
                h1 2048 Clone
            form(action="/forgot_password" method="POST") 
                h3 Enter email address of your account so we can send you a link to set a new password
                label#email_label(for="email") Email
                input#email(type="email" name="email")
                button(type="submit") Send 
                p#message #{message}
